# Ignore all files inside logs and data subfolders

base/logs/*
java-minimal/logs/*
java-tomcat/logs/*
java-maven-ant-tomcat/logs/*

base/data/*
java-minimal/data/*
java-tomcat/data/*
java-maven-ant-tomcat/data/*

# Keep the .gitkeepifempty files

!base/logs/.gitkeepifempty
!java-minimal/logs/.gitkeepifempty
!java-tomcat/logs/.gitkeepifempty
!java-maven-ant-tomcat/logs/.gitkeepifempty

!base/data/.gitkeepifempty
!java-minimal/data/.gitkeepifempty
!java-tomcat/data/.gitkeepifempty
!java-maven-ant-tomcat/data/.gitkeepifempty

# Misc

common/proxy_info.txt
common/*.html
common/*.png
common/sandbox_ip_address.txt