# Ignore all files inside any logs/ and data/ subfolders, no matter the directory structure
**/logs/*
**/data/*

# Keep the .gitkeepifempty files inside logs/ and data/ folders
!**/logs/.gitkeepifempty
!**/data/.gitkeepifempty

# Miscellaneous files
common/proxy_info.txt
common/*.html
common/*.png
common/*.log
common/sandbox_ip_address.txt
